*{
    margin: 0;
}
body{
    justify-content: space-between;
    font-family: cursive;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: white;
}
header{
    width: 100%;
    height: 150px;
    background-color:#c78d83;
    justify-content: center;
    display: flex;
    align-items: center;
}
footer{
    width: 100%;
    height: 120px;
    background-color:#e3b3a8;
    text-align: center;
    align-items: center;
}
.icons{
    margin: 10px;
    width: 32px;
}
#corpo{
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
#corpo img{
    margin: 40px;
    margin-right: 150px;
    border-radius: 30%;
    box-shadow: 30px 10px 30px rgb(114, 113, 113);
    height: 450px;
    /*animation: animacao-img 5s infinite;*/
}
/*@keyframes animacao-img {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
h1{
    animation: animacao-h1 3s;
}
@keyframes animacao-h1{
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}*/
#logo{
    height: 150px;
    width: 150px;
}
#menu{
    background-color: #e3b3a8;
    height: 75px;
    display: flex;
    justify-content: center;
    justify-content:space-between;
    list-style: none;
    padding: 0;
}
li, a{
    padding-top: 20px;
    color:#904039;
    text-decoration: none;
    font-size: 25px;
    width: 100%;
    text-align: center;
}
li:hover{
    background-color: #c78d83;
}
#historia{
    flex: 1;
    text-align: center;
    margin: 60px 500px 60px 500px;
}
.galeria{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 50px 30px ;
    border-radius: 10px;
    height: 300px;
}
#brigadeiro{
    height: 300px;
    width: 450px
}
.segunda_galeria{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 50px 30px ;
    border-radius: 10px;
    height: 300px;
}
form{
    flex-direction: column;
    display: flex;
    width: 300px;
    margin: 60px;
    margin-left: 70px;
}
label, input, textarea{
    margin-bottom: 10px;
    width: 100%;
}
input, textarea{
    padding: 8px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea{
    padding: 30px;
}
button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 70px;
}
#container{
    display: flex;
}
iframe{
    margin: 50px;
    margin-left: 200px;
    border-radius: 10px;
    border: none;
}
#dropdown-button{
    display: none;
}
@media (max-width: 768px) {
    #corpo {
        margin: 10px;
        gap: 10px;
    }
    #corpo img {
        height: 300px;
    }
    #menu li, #menu a {
        font-size: 20px;
    }
    #historia {
        margin: 40px 5%;
    }
}
@media (max-width: 480px) {
    #corpo {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    #corpo img {
        height: 200px;
        margin: 20px 0;
    }
    #dropdown-button{
        display: block;
        background-color: #e3b3a8;
        border-radius: 0;
        width: 100%;
        padding: 0;
        cursor: pointer;
    }
    #dropdown-button:hover{
        background-color: #c78d83;
    }
    #dropdown-button img{
        width: 60px;
        height: 60px;
    }
    #menu{
        background-color: #e3b3a8;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        display: none;
    }
    li, a {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }
    #historia {
        margin: 20px;
    }
    form {
        width: 90%;
    }
    iframe {
        margin: 20px 0;
    }
    .galeria{
        height: 80px;
    }
    #brigadeiro{
        height: 80px;
        width: 120px
    }
    .segunda_galeria{
        height: 80px;
    }
    #container{
        flex-direction: column;
    }
    form{
        width: 250px;
        margin-left: 50px;
    }
    iframe{
        width: 300px;
        margin: 0 10px 10px;
        display: flex;
        
    }
}